.navbar {
  background-color: white;
  /* position: fixed; */
  border-radius: 2px;
  height: 70px;
  margin: 0 7px;
  padding-top: 18px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}
.container-fluid input {
  width: 38vw;
  margin: 0  15vw;
  background-color: rgb(215, 212, 212);
  height: 40px;
}
.container-fluid img {
  height: 40px;
}
.container-fluid span {
  font-size: 12px;
  margin-top: 15px;
  font-size: 8px;
  color: grey;
}
.img-1 {
  margin-left: 20vw;
  margin-top: 5px;
  border: 1px solid rgb(215, 212, 212);
  border-radius: 50%;
}
.img-2{
  margin-left: 15px;
}
.user-logo p {
  color: rgb(9, 9, 9);
  margin: 8px 0 0 0;
  font-size: 12px;
}
a {
  text-decoration: none;
}
